.content-publish-container {
    /* dimensionne et place le container de form */
    background-color: rgb(202, 201, 201);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.content-publish-form {
    /* dimensionne et place le contenu du form */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-publish-form  > h4{
    /* dimensionne et place le texte en haut du form */
    margin-bottom: 10px;
}

.file-upload {
    /* dimensionne et place l'input qui permet de telecharger un/des fichier(s) */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80vw;
    height: 30vh;
}

/* dimensionne et place les differentes section du form, les textes et les inputs à l'intérieur */
.title-publish, .file-upload, .detail-publish, .price-publish {
    
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

.title-publish > div, .file-upload > div, .detail-publish > div, .price-publish > div {
    display: flex;
}

.title-publish > div > div, .file-upload > div > div, .detail-publish > div > div, .price-publish > div > div {
    width: 50%;
}

.title-publish-input, .description-publish-input, .marque-publish-input, 
.size-publish-input, .couleur-publish-input, .condition-publish-input, 
.emplacement-publish-input, .price-publish-input {
    background-color: white;
    border: solid transparent;
    border-bottom: solid rgb(226, 224, 224) 1px; 
    width: 30vw;
    font-size: 20px;
}

.title-publish-input::placeholder, .description-publish-input::placeholder, .marque-publish-input::placeholder,
.size-publish-input::placeholder, .couleur-publish-input::placeholder, .condition-publish-input::placeholder, 
.emplacement-publish-input::placeholder, .price-publish-input::placeholder {
    color: rgb(216, 214, 214);
}

.description-publish-input {
    height: 20vh;
}

.description-publish-input::placeholder {
    display: flex;
    align-items: flex-start;
}

.publier-button {
    /* dimensionne et place le button publier */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dropzone > section{
    /* place le texte du dropzone */
    display: flex;
    align-items: center;
}