@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'header.css';
@import 'hero.css';
@import 'home.css';
@import 'signup.css';
@import 'offer.css';
@import 'publish.css';
@import 'payment.css';

body {
    /* on change la police de caractère */
	font-family: 'Roboto', sans-serif;
}

button {
    /* configuration des button */
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    color:rgb(18, 139, 160);
    border: solid rgb(18, 139, 160) 1px
}

.vends, .start-sell, .acheter, .publier {
    /* configuration de certain button en particulier */
    color: white;
    background-color: rgb(18, 139, 160);
    border: solid transparent 1px;
}