@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.header-container, .content-home-container-snd {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 100px;
    object-fit: contain;
}

.filtre {
    width: 30vw;
    margin-left: 50px;
    margin-right: 30px;
}

.filtre-not-home {
    display: flex;
    width: 30vw;
    margin-left: 50px;
    margin-right: 30px;
}

.glass {
    cursor:pointer;
    height: 30px;
    color: rgb(204, 203, 203);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 3%;
    padding: 10px;
    position: relative;
    top: 60px;
    right: 30px;
    display: flex;
    justify-content: flex-start;
}

.glass-not-home {
    cursor:pointer;
    height: 30px;
    color: rgb(204, 203, 203);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 3%;
    padding: 10px;
    position: relative;
    top: 20px;
    right: -10px;
    display: flex;
    justify-content: flex-start;
}

.searchbar {
    caret-color: gray;
    height: 30px;
    background-color: rgb(245, 245, 245);
    border: solid transparent 0px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.searchbar-not-home {
    caret-color: gray;
    height: 30px;
    background-color: rgb(245, 245, 245);
    border: solid transparent 0px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.searchbar:focus, .searchbar-not-home:focus{
    outline: none;
}


.filtre-prix {
    margin-left: -30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.checkbox-container {
    display: flex;
    width: 40%;
}

.handleCheck {
    margin-left: -40px;
    position: relative;
    z-index: 1;
    top: -10px;
    left: 45px;
    width: 50px;
    height: 40px;
    opacity: 0;
}

.handleCheck+label {
    margin-top: -0px;
    margin-left: 3px;
    display: block;
    position: relative;
    margin-bottom: 1.2em;
}

.handleCheck:checked+label.check:before {
    background: rgb(20, 168, 194);
}

.handleCheck+label:before {
    content: '';
    display: inline-block;
    width: 2.5em;
    vertical-align: middle;
    height: 1em;
    background-color: rgb(20, 168, 194);
    border-radius: .5em;
    margin-right: 1em;
    margin-top: 3px;
    transition: all .5s ease;
}

.handleCheck:checked+label.check:after {
    background: rgb(18, 139, 160);
    display: flex;
    justify-content: center;
    content: '↑';
    transform: translateX(100%);
}

.handleCheck+label:after {
    content: '↓';
    color: white;
    display: flex;
    justify-content: center;
    width: 1.3em;
    height: 1.3em;
    background-color: rgb(18, 139, 160);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: -1px;
    transition: all .5s ease;
    -webkit-box-shadow: 6px 6px 21px -5px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 6px 6px 21px -5px rgba(0, 0, 0, 0.61);
    box-shadow: 6px 6px 21px -5px rgba(0, 0, 0, 0.61);
}

.range-container {
    position: relative;
    width: 300px; 
}

.range {
    margin-left: 10px;
    width: 100%;
}

.range-input {
    margin-top: 10px;
    width: 100%;
}

.range-result {
    position: absolute;
    top: 30px; /* Positionnez en dessous de l'input */
    transform: translateX(-50%); /* Centrez le label au-dessus du curseur */
    white-space: nowrap; 
}

.connection-button-container {
    width: 20%;
    margin-left: 10px;
    display: flex;
}

button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    color:rgb(18, 139, 160);
    border: solid rgb(18, 139, 160) 1px
}

.vends, .start-sell, .acheter, .publier {
    color: white;
    background-color: rgb(18, 139, 160);
    border: solid transparent 1px;
}


.hero-container {
    height: 50vh;
    margin-bottom: 50px;
}

.hero {
    width: 100%;
    height: 50vh;
    object-fit:cover;
}

.dechirure {
    position: relative;
    top: -90px
}

.tri {
    padding: 20px;
    margin: 20px;
    position: relative;
    width: 15vw;
    height: 20vh;
    background-color: white;
    top: -500px;
    left: 200px;
    border-radius: 5px;
    border: solid rgb(202, 202, 202) 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.start-sell {
    margin: 0;
    width: 200px;
}

.content-home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content-home-container-snd {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.item {
    height: 500px;
    width: 240px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.item-username, .item-taille, .item-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(167, 165, 165);
    font-size: 12px;
}

.item-username{
    margin-bottom: 5px;
}

.user-avatar {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 20px;
}

.item-img {
    height: 350px;
    width: 240px;
    object-fit: cover;
}

.create-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.create-nav{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-container-create {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkbox-container-create > div {
    font-size: 20px;
}

.create-nav{
    color: gray;
}

.create-nav> h1 {
    color: black;
}

.create-checkbox {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;  
    margin: 15px 15px 15px 0px;
}


.create-nav> input[type="text"], .create-nav> input[type="submit"], .create-nav> input[type="password"]{
    border: solid transparent 0px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.create-nav> input[type="text"], .create-nav> input[type="password"] {
    border-bottom: solid rgb(241, 92, 92) 1px;
}

.create-nav> input[type="submit"] {
    border-radius: 5px;
    background-color: rgb(18, 139, 160);
    color: white;
}

.link {
    font-size: 12px;
    color: rgb(18, 139, 160);
    text-decoration: none;
}

.content-offer-container {
    height: calc(90vh - 7px);
    background-color: rgb(202, 201, 201);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.item-single {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 60vw;
    height: 60vh;
}

.item-single-img {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.item-single-img-item:nth-child(1) {
    width: 100%;
    object-fit: cover;

}

.item-single-img-item:nth-child(2) {
    width: 50%;
    object-fit: cover;

}

.item-single-img-item:nth-child(3) {
    width: 50%;
    object-fit: cover;

}

.item-single-price {
    font-size: 25px;
}

.item-single-content-container {
    padding: 40px;
    margin-left: 10px;
    width: 300px;
    background-color: white;
}

.details {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: solid gray 1px;
}

.details-detail {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.marque, .couleur, .taille, .etat, .emplacement {
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
}

.marque > p, .couleur > p, .taille > p, .etat > p, .emplacement > p {
    width: 50%;
    color: rgb(175, 175, 175);
}

.marque > h4, .couleur > h4, .taille > h4, .etat > h4, .emplacement > h4 {
    width: 50%;
    color: rgb(92, 91, 91);
}

.item-product-description {
    color: gray;
    width: 310px;
    word-wrap: break-word;
}

.details-description {
    height: 60%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-description > div > div{
    margin-top: 20px;
}

.details-description > div {
    margin-top: 10px;
}

.acheter {
    display: flex;
    margin: 0;
    margin-top: 60px;
    width: 70%;
    justify-content: center;
}

.content-publish-container {
    background-color: rgb(202, 201, 201);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.content-publish-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-publish-form  > h4{
    margin-bottom: 10px;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80vw;
    height: 30vh;
}

.file-upload > button {
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 200px;
}

.title-publish, .file-upload, .detail-publish, .price-publish {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

.title-publish > div, .file-upload > div, .detail-publish > div, .price-publish > div {
    display: flex;
}

.title-publish > div > div, .file-upload > div > div, .detail-publish > div > div, .price-publish > div > div {
    width: 50%;
}

.title-publish-input, .description-publish-input, .marque-publish-input, 
.size-publish-input, .couleur-publish-input, .condition-publish-input, 
.emplacement-publish-input, .price-publish-input {
    background-color: white;
    border: solid transparent;
    border-bottom: solid rgb(226, 224, 224) 1px; 
    width: 30vw;
    font-size: 20px;
}

.title-publish-input::placeholder, .description-publish-input::placeholder, .marque-publish-input::placeholder,
.size-publish-input::placeholder, .couleur-publish-input::placeholder, .condition-publish-input::placeholder, 
.emplacement-publish-input::placeholder, .price-publish-input::placeholder {
    color: rgb(216, 214, 214);
}

.description-publish-input {
    height: 20vh;
}

.description-publish-input::placeholder {
    display: flex;
    align-items: flex-start;
}

.publier-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dropzone > section{
    display: flex;
    align-items: center;
}

.payment-container {
    background-color: rgb(231, 229, 229);
    width: 100vw;
    display: flex;
    justify-content: center;
    min-height: calc(90vh - 7px);
    height: calc(90% - 7px);
}

.payment-form {
    padding: 40px;
    height: 80%;
    width: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.payment-form > h4 {
    margin: 10px;
    margin-bottom: 30px;
    color: rgb(202, 201, 201);
    font-weight: 100;
}

.payment-form > div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.payment-form > section {
    margin: 10px;
    margin-left: -40px;
    border: solid rgb(231, 229, 229) 1px;
    border-bottom: rgb(231, 229, 229);
    width: 40vw;
}

.payment-form > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green {
    margin: 0;
    margin-top: 10px;
    background-color: rgb(11, 197, 11);
    color: white;
    width: 100%;
    padding: 10px;
}

.page-container {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 10px;
}

.page {
    margin: 3;
    background-color: rgb(233, 231, 231);
    color: black;
    width: 30px;
    height: 30px;
    border: solid transparent 0px;
}


